{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

    <article>

        <h1>Kmom02 - Card</h1>

        <a href="{{ url('card-deck') }}">Deck</a>
        <a href="{{ url('card-shuffle') }}">Shuffle</a>
        <a href="{{ url('card-draw') }}">Draw</a>
        <a href="{{ url('deal-cards') }}">Deal</a>

    </article>

{% endblock %}