{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block content %}
    <article>
        <h1>Hem</h1>

        <h2>En kort presentation</h2>
        
        <section id="s1">
        <p>Jag heter Joakim. Bor med lagom stor familj i centrala Sverige.</p>
        
        <p>
        Spenderar veckorna i city och helgerna ute på landstället, jobbar på att lära barnen (och hustrun!) att
        uppskatta fiske och ägnar lite för mycket tid åt att förfina mitt smarta hem.
        </p>
        
        <p>
        Har sedan barnsben varit datorintresserad, med allt vad det innebär. Kör GNU/Linux sedan en evighet tillbaka,
        och har alltid tyckt om tinkering, både på hårdvaru- och mjukvarusidan.
        </p>
        
        <p>Har viss programmeringskunskap.</p>
        
        <p>Nästkommande projekt blir att sätta sig in lite mer i BSD.</p>
        
        <p><b>Det har sagts förr, men..</b></p>
        <p>I am..</p>
        
        <p>( •_•)</p>
        
        <p>( •_•)&gt;~O-O</p>
        
        <p>(~O-O)</p>
        
        <p>the bomb</p>
        </section>
        
        <section id="s2">
        <pre>
                                         ,        ,
                                        /(        )`
                                        \ \___   / |
                                        /- _  `-/  '
                                       (/\/ \ \   /\
                                       / /   | `    \
                                       O O   ) /    |
                                       `-^--'`&gt;  '
                        TM            (_.)  _  )   /
        |  | |\  | ~|~ \ /             `.___/`    /
        |  | | \ |  |   X                `-----' /
        \__| |  \| _|_ / \  &lt;----.     __ / __   \
                            &lt;----|====O)))==) \) /====
                            &lt;----'    `--' `.__,' \
                                         |        |
                                          \       /
                                      ______( (_ /\______
                                  ,'  ,-----'   |         \
                                  `--{__________)          \/
        </pre>
        </section>
    
    </article>

{% endblock %}