{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block content %}

 <article>

        <h1>Redovisning</h1>

        <section class="presentation">
            <h2>Kmom01</h2>
        </section>

        <section class="presentation">
            <h2>Kmom02</h2>
        </section>

        <section class="presentation">
            <h2>Kmom03</h2>
        </section>

        <section class="presentation">
            <h2>Kmom04</h2>
        </section>

        <section class="presentation">
            <h2>Kmom05</h2>
        </section>

        <section class="presentation">
            <h2>Kmom06</h2>
        </section>

        <section class="presentation">
            <h2>Kmom07/10</h2>
        </section>

{% endblock %}