{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block content %}

 <article>

        <h1>Redovisning</h1>

        <section class="presentation">
            <h2>Kmom01</h2>
            <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
            <p>Har sysslat en hel del med objektorienterad programmering; främst inom JS som är det språk jag främst skriver i. En del java också.</p>
            <p>Känner mig ganska bekväm med hur klasser och objekt fungerar generellt; konstruktorer, klassattribut, klassmetoder/metoder, arv, varför en använder setters/getters osv. Emellertid inte skrivit någon OOPHP hittills.</p>

            <h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
            <p>Frågan är lite svår för mig att förstå, men rent fundamentalt behöver en kunna definera och instansiera en klass; att skapa ett objekt av klassen. Vidare är det som jag nämnde i svaret ovan värt att ha koll på vad en konstruktor är, hur en skapar metoder och kallar på dessa, och hur properties hanteras på ett säkert sätt.</p>
            <p>Därtill är det så klart brukligt att hålla koll på arv, namespaces och inkapsling, men det är väl inte direkt nödvändigt för att komma igång med OO-programmering.</p>
            <p>Vad jag har förstått så skiljer sig inte PHP särskilt från exempelvis JS, sett till hur klasser och objekt fungerar; frånsett att PHP har så otroligt krånglig syntax. Haha.</p>

            <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
            <p>Det är alldeles för tidigt för mig att svara på; det finns inte tillräckligt med data för att uttrycka sig i frågan. Det var väl inte särskilt svårt att fixa med controllern i och med att det visades på föreläsningen, och templatesen är inte så avancerade än, så det är en fråga jag får återkomma till!</p>
            <p>Jag är dock inget fan av hur PHP hanterar variabler och generell syntax med alla % och $; även på ANSI-tangentbord lider fingrarna.
            </p>
            <p>Har tänkt att jag ska uppdatera min me-sida inom kort; nu tog jag bara den simpla standardsida jag brukar använda i de icke-designkrävande kurserna. Lär få lite mer pejl på saker då.</p>

            <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
            <p>Måhända ett väldigt tråkigt svar, men jag är av åsikten att en aldrig kan få för mycket kunskap. Så jag vill ju självklart lära mig allt.</p>
            <p>Med handen på hjärtat har jag inte gjort annat än öga igenom artikeln; men något jag känner att jag vill få koll på per omgående är ju dels kodstandarder och "best practice", testning och säkerhet. Resten tycker jag är sådant som är naturligt att lära sig mer om under ett projekts gång, typ hur namespaces, filhantering och liknande används.</p>

            <h3>Vilken är din TIL för detta kmom?</h3>
            <p>Hela kursmomentet har varit lite utav ett TIL; det är första gången jag använder ett PHP-ramverk, typ.</p>
            <p>Jag har lärt mig skillnaden mellan url och absolute_url i Symfony; de funktionerna diggar jag!</p>
        </section>

        <section class="presentation">
            <h2>Kmom02</h2>
        </section>

        <section class="presentation">
            <h2>Kmom03</h2>
        </section>

        <section class="presentation">
            <h2>Kmom04</h2>
        </section>

        <section class="presentation">
            <h2>Kmom05</h2>
        </section>

        <section class="presentation">
            <h2>Kmom06</h2>
        </section>

        <section class="presentation">
            <h2>Kmom07/10</h2>
        </section>

</article>

{% endblock %}